
<h1>Liquidation calculator</h1>

<form onsubmit="calculate(this)">
    <div class="form-group">
        <label for="dateStarted">date started</label>
        <input type="date" class="form-control" id="dateStarted">
    </div>
    <div class="form-group">
        <label for="weeklyPay">weekly pay</label>
        <input type="number" class="form-control" id="weeklyPay">
    </div>

    <div class="form-group">
        <label for="holidayOwed">holiday owed</label>
        <input type="number" class="form-control" id="holidayOwed">
    </div>

    <button type="submit" class="btn btn-primary">Primary</button>
</form>

<script type="application/javascript">
    var calculate = function (model) {
        console.log(model);
    }
</script>
